fastapi>=0.104.0
uvicorn[standard]>=0.24.0
pydantic>=2.5.0
git+https://github.com/FarisHijazi/civitai-python.git@main

python-multipart>=0.0.6
httpx>=0.25.0
requests>=2.31.0
joblib
pytest
backoff
requests-mock
openai==1.84.0
loguru
